body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.background-container {
    background: url('back.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); /* White content box */
    padding: 20px;
    border-radius: 10px; /* Optional: Add rounded corners */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}

#result, #savedAnswers {
    display: none;
}

/* Add styling for the Clear Data button */
#clearData {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f0f2f0; /* Green color, you can change this */
    color: #0c0c0c;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
